// ------ WELCOME SECTION --------
#welcomeContainer{
    background:none;
    position:relative;
    h2, p{
        font-family:$Bad;
        color:white;
    }
}
// -------- WHATS HOT SECTION ------
#whatsHot{
    position:relative;
    background:white;
    border-top: 1px dotted;
    span{
        font-family:$Bad;
        font-size:1em;
        color:white;
        text-decoration: wavy overline;
        width: 50%;
        margin: 0 auto;
    }
}
#carouselTrending{
    background:rgba(255, 192, 203, 0.753);
    .carousel-indicators li{
        width: 10px;
        height: 10px;
        border-radius: 100%;
    }
    .card{
        box-shadow: $shadow;
        a{
            font-family: $Bad;
            font-size:.8em;
        }
    }
    h6{
        font-family:$Bad;
    }
    p{
        font-size:.7em;
    }
    .img-container{
        padding-bottom:2px;
        box-shadow:0px 10px 10px pink;
        background-image:url(https://pbs.twimg.com/media/EPnyF7OXkAIX603.jpg);
        background-repeat:no-repeat;
        background-size: 70px 100px;
        height:100px;
        width:70px;
        margin:10px auto 5px;
        .card-img-top{
            object-fit:fill;
            height:100%;
            width:100%;  
        }
    }
}

// ----- LATEST REVIEWS SECTION
#recentReviews{
    background:#5e656936;
    h3, h5{
        font-family:$Dancing;
    }
    h6{
        font-family:$Roboto;
        font-size:.8em;
    }
    p{
        font-family:$Bad; 
    }
    a{
        font-family: $Bad;
    }
    span{
        font-family:$Bad;
        font-size:1.2em;
        color:white;
        text-decoration: wavy overline white;
        width: 50%;
        margin: 0 auto;
    }
    .review-card{
        background:rgba(255, 255, 255, 0.88);
        border:10px solid pink;
        box-shadow:$shadow;
    }
    .card-header{
        img{
            width:100%;
            height:100%;
            object-fit:cover;
            border: 7px solid pink;
        }
        h5{
            font-family:$Bad;
        }
    }
}