@import url('https://fonts.googleapis.com/css?family=Bad+Script|Montserrat|Dancing+Script|Libre+Baskerville|Playfair+Display|Roboto&display=swap');
//------- Fonts and typos ------
$Roboto : 'Roboto' , sans-serif;
$Montserrat : 'Montserrat', sans-serif;
$Dancing : 'Dancing Script', cursive;
$Bad : 'Bad Script', cursive;

$shadow : 2px 2px 20px rgb(83, 83, 83);

$color1 : pink;

ul, li{
    list-style-type: none;
}